.channel-header{
    border-bottom: 1px solid black;
    height: 63px;
}
.channel-main{
    flex:1;
    overflow-y: scroll;
    padding:10px;
}
.channel-main::-webkit-scrollbar{
    display: none;
}
.channel-footer{
    border-top: 1px solid black;
    padding:0 20px;
    padding-top: 10px;
}
.channel{
    min-height: 100vh;
    display: flex;
    background-color: rgb(73, 71, 71);
    flex-direction: column;
}

.channel-footer input{
    background-color: rgb(54, 53, 53);
    border:none;
    outline: none;
    height: 40px;
    width: 95%;
    padding-left: 10px;
}
.left-outer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}
.left-outer .left{
    background-color: white;
    color:#3949AB;
    margin-bottom: 5px;
    width: 400px;
    padding:10px;
    border-radius: 16px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.left-outer .left span {
    display: flex;
    justify-content: flex-end;
}
.right-outer .right p{
    display: flex;
    justify-content: flex-end;
}
span{
    font-size: 12px;
    margin-top: 8px;
}
.right-outer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.right-outer .right{
    background-color:#3949AB;
    width: 400px;
    padding:10px;
    border-radius: 16px;
    word-wrap: break-word;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
.channel-header p {
    padding:20px;
    font-weight: bold;
}
form label{
    height: 40px;
    width: 40px;
    color:white;
    background-color: rgb(54, 53, 53);
    border-radius: 50%;
    outline: none;
    border:none;
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form label input{
    display: none;
}
form{
    width: 100%;
    padding-bottom: 11px;
}

.new-form-style{
    position: relative;
}
.list-img img{
    max-height: 400px;
    max-width: 400px;
}
.list-img{
    height: 450px;
    overflow-y: scroll;
}
.list-img::-webkit-scrollbar{
    display: none;
}
.input-field{
    display: flex;
    align-items: center;
}