.room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-weight: bold;
}
.server img{
    border-radius: 16px;
    padding: 8px;
}
.style-link{
    text-decoration: none !important;
}
.server .tooltiptext{
    background-color: black;
    padding:8px;
    border-radius: 8px;
    font-size: smaller;
    visibility: hidden;
    margin-left: 10px;
    z-index: 1;
}
.server:hover .tooltiptext {
    visibility: visible;
}
