.server{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    color:white;
    font-weight: bold;
}
.main-header{
    background-color: rgb(51, 48, 48);
    color: white;
    font-weight: bold;
    padding:10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.main-header img{
    margin-right: 5px;
}
.main-header p {
    margin:12px;
}
.action-voice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-size: smaller;
}
.voice-room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px 5px 10px;
}
.voice-room img{
    height: 20px;
    width: 20px;
}
.voice-room .settings{
    visibility: hidden;
}
.voice-room:hover .settings{
    visibility: visible;
}
.main-action{
    max-height: 700px;
    overflow-y: scroll;
    position: relative;
}
.main-action::-webkit-scrollbar{
    display: none;
}
.user-infos{
    position: absolute;
    bottom: 0;
}
.info-left img{
    padding:10px;
    background-color: black;
    border-radius: 50%;
}
.info-left p {
    margin-left: 5px;
}
.info-left{
    display: flex;
    align-items: center;
}
.info-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.info-right img{
    height: 20px;
    width: 20px;
    margin-left:15px
}
.user-info{
    background-color: rgb(46, 44,44);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding:5px;
    border-top:1px solid gray
}
.action img{
    padding:12px 23px 12px 23px;
    background-color: rgb(46, 44, 44);
}

.noti{
    display: flex;
    align-items: center;
    font-weight: bold;
    color:#279F52
}
.noti img{
    margin:5px;
}
.room-name img{
    margin:5px;
}
.connected-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 44, 44);
    padding:10px;
    border-bottom: 1px solid gray
}
.context{
    width: 24px;
    height: 3px;
    background-color: red;
    z-index: 1;
    transform: rotate(-45deg);
    top:0px;
    position: absolute;
}
.mic {
    right:68px;
}
.headphone{
    right:32px;
}
.channel-info{
    display: flex;
    align-items: center;
}
.user-join{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.title-room{
    display: flex;
    align-items: center;
}
.inactive {
    pointer-events: none;
}